.git/
.tools/
target/
results/

.venv/
services/python-fastapi/.venv/

services/elixir-phoenix/_build/
services/elixir-phoenix/cover/
services/elixir-phoenix/deps/
services/elixir-phoenix/doc/
services/elixir-phoenix/.elixir_ls/
services/typescript-bun/node_modules/
services/ocaml-oxcaml/_build/
services/ocaml-oxcaml-epoll/_build/
services/ocaml-websocket-async/_build/

**/__pycache__/
*.log
*.dump

.env
.env.*
!.env.example
